.d-flex{
    gap:20px;
}

.hoovy{
    transition: 0.3s;
}

.hoovy:hover{
    height: 60px;
    width: 60px;
    transition: 0.3s;
}

.navy{
    transition: 0.3s;
}

.navy:hover{
    background-color: gray;
    color: white;
    transition: 0.3s;
}

.nav-item .nav-link.active{
    background-color: gray;
}