.nav-item .nav-link.active{
    background-color: gray;
    color: white;
}

.d-flex{
    gap:20px;
}

.hoovy{
    transition: 0.3s;
}

.hoovy:hover{
    background-color: gray;
    color: white;
    transition: 0.3s;
}

.aimg{
    height: 500px;
    width: 500px;
}

.text-justify{
    text-align: justify;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}